<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
      <div style="text-align: center; text-transform: uppercase">
      <h1>
        {{titulo}}
      </h1>
      </div>
  <ion-buttons slot="end">
      <ion-button fill="clear" (click)="goToBack()">
        <ion-icon ios="ios-arrow-back" md="ios-arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="light" *ngIf="Table">
    <ion-segment [(ngModel)]="selectItem" mode="md" color="dark">
      <ion-segment-button value="1" checked (click)="getSingleSecond(((Table.equipos[0]!=null)?Table.equipos[0].equipos.id:''))">
        {{((Table.equipos[0]!=null)?Table.equipos[0].equipos.nombre:'')}}
      </ion-segment-button>
      <ion-segment-button value="2" (click)="getSingleSecond(((Table.equipos[1]!=null)?Table.equipos[1].equipos.id:''))">
        {{((Table.equipos[1]!=null)?Table.equipos[1].equipos.nombre:'')}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="selectItem=='1'">
    <ion-grid>
      <ion-row *ngIf="Table">
        <ion-col size="12">
          <ion-item class="text-center">
                  <img class="" src="{{((Table.equipos[0]!=null)?Table.equipos[0].equipos.picture:'')}}" alt="" style="width:50%;">
                  <ion-label class="text-center" *ngIf="Table">
                        <strong class="text-center"> {{((Table.equipos[0]!=null)?Table.equipos[0].equipos.nombre:'')}} </strong>
                        <ion-item-divider class="divider">
                          </ion-item-divider>
                    <h2 class="font-30"> <strong>{{((Table.equipos[0]!=null)?Table.equipos[0].resultado:'')}}</strong></h2>
                    <p>Resultado</p>
                </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <!--<ion-row>
        <ion-col size="12" class="text-center">
          <ion-button (click)="goToRoute('home/equipo/'+Table.id+'/mensaje')" color="primary">Enviar Mensaje</ion-button>
        </ion-col>
      </ion-row>-->
    </ion-grid>
    <div padding>
    <div style="border-radius: 30px; background-color: #002871; color: white; text-align: center;">
      <h4>Jugadores</h4>
    </div>
    <ion-row padding class="mb-2 pointer">
      <!--(click)="goToRoute('home/jugador/'+data1.jugadores.id)"-->
      <ion-col size="6" *ngFor="let data1 of jugadores">
        <div class="dark" style="border-radius:10px;" (click)="presentModal(data1.id, ((Table.equipos[0]!=null)?Table.equipos[0].equipos.id:''))">
          <ion-item class="text-center">
            <img class="" src="{{data1.picture}}" alt="" style="width:40%;">
              <ion-label class="text-left">
              <strong class="left font-9 color-white"> {{(data1.nombre)?data1.nombre:''}} {{(data1.apellido)?data1.apellido:''}}</strong>
              <p class="font-7 color-white">{{(data1.tipos.nombre)?data1.tipos.nombre:''}}</p>
            </ion-label>
          </ion-item>
          <!--<div class="font-7 pl-2 pr-2 pt-2 pb-2 text-justify">
            {{(data1.jugadores.nombre)?data1.jugadores.nombre:''}}
          </div>-->
        </div>
      </ion-col>
    </ion-row>
    </div>
  </div>


  <div *ngIf="selectItem=='2'">
    <ion-grid>
      <ion-row *ngIf="Table">
        <ion-col size="12">
          <ion-item class="text-center">
                  <img class="" src="{{((Table.equipos[1]!=null)?Table.equipos[1].equipos.picture:'')}}" alt="" style="width:50%;">
                  <ion-label class="text-center" *ngIf="Table">
                        <strong class="text-center"> {{((Table.equipos[1]!=null)?Table.equipos[1].equipos.nombre:'')}} </strong>
                        <ion-item-divider class="divider">
                          </ion-item-divider>
                    <h2 class="font-30"> <strong>{{((Table.equipos[1]!=null)?Table.equipos[1].resultado:'')}}</strong></h2>
                    <p>Resultado</p>
                </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <!--<ion-row>
        <ion-col size="12" class="text-center">
          <ion-button (click)="goToRoute('home/equipo/'+Table.id+'/mensaje')" color="primary">Enviar Mensaje</ion-button>
        </ion-col>
      </ion-row>-->
    </ion-grid>
    <div padding>
    <div style="border-radius: 30px; background-color: #002871; color: white; text-align: center;">
      <h4>Jugadores</h4>
    </div>
    </div>
    <ion-row padding class="mb-2 pointer">
      <!--(click)="goToRoute('home/jugador/'+data1.jugadores.id)"-->
      <ion-col size="6" *ngFor="let data1 of jugadores">
        <div class="dark" style="border-radius:10px;" (click)="presentModal(data1.id, ((Table.equipos[1]!=null)?Table.equipos[1].equipos.id:''))">
          <ion-item class="text-center">
            <img class="" src="{{data1.picture}}" alt="" style="width:40%;">
              <ion-label class="text-left">
              <strong class="left font-9 color-white"> {{(data1.nombre)?data1.nombre:''}} {{(data1.apellido)?data1.apellido:''}}</strong>
              <p class="font-7 color-white">{{(data1.tipos.nombre)?data1.tipos.nombre:''}}</p>
            </ion-label>
          </ion-item>
          <!--<div class="font-7 pl-2 pr-2 pt-2 pb-2 text-justify">
            {{(data1.jugadores.nombre)?data1.jugadores.nombre:''}}
          </div>-->
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
