<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
      <div style="text-align: center; text-transform: uppercase">
      <h1>
        {{titulo}}
      </h1>
      </div>
    <ion-buttons slot="end">
        <ion-button fill="clear" (click)="goToBack()">
        <ion-icon ios="ios-arrow-back" md="ios-arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  
  <ion-menu side="start" type="overlay" color="primary" class="e2eLeftMenu">
    <ion-header>
      <ion-toolbar color="primary" class="text-center">
        <img src="./../../assets/png/pelota-fut.png" style="width:10rem;height:10rem;" alt="">
      </ion-toolbar>
    </ion-header>
  
    <ion-content color="primary">
        <app-menu></app-menu>
    </ion-content>
  
    <ion-footer>
      <ion-toolbar color="primary">
        <ion-button expand="small"  color="light" fill="clear">Log Out</ion-button>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>

  <ion-content padding>
    <!--<img *ngIf="data.picture" src="{{data.picture}}" class="background-image" alt="">
    <ion-grid style="opacity:1;">
        <ion-row>
          <ion-col size="12">
            <ion-item class="text-center">
                    <img class="" src="http://i.imgur.com/bfDScsb.png" alt="" style="width:50%;">
                    <ion-label class="text-center">
                      <h2 class="font-10"> <strong>20</strong></h2>
                      <p>Torneos Ganados</p>
                      <div class="divider-angular"></div>
                      <h2 class="font-10"> <strong>40</strong></h2>
                      <p>Goles Anotados</p>
                      <div class="divider-angular"></div>
                      <h2 class="font-10"> <strong>1.80 cm</strong></h2>
                      <p>Altura</p>
                  </ion-label>
            </ion-item>
            <ion-item class="text-left margin-0">
                    <ion-label class="text-left">
                      <h2 class="font-17"> <strong>Jony Blake</strong></h2>
                      <p>Corredor</p>
                  </ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <div class="text-justify bg-ligth" style="border-radius:10px;">
              Your Success and happines life porque asi me gusta a mi que sea
            </div>
          </ion-col>
          <ion-col size="12" class="text-center">
              <ion-button (click)="goToRoute('home/chat/mensaje/1')" color="primary">Enviar Mensaje</ion-button>
          </ion-col>
        </ion-row>
        
            
      </ion-grid>-->

  <ion-grid style="opacity:1;">
    <ion-row>
      <ion-col size="6" class="text-center">
        <img class="" src="{{data.picture}}" alt="">
      </ion-col>
      <ion-col size="6" class="text-center">
        <h1 style="font-size: 600%;">{{data.telefono}}</h1>
        <div class="divider-angular"></div>
        <p>Camiseta</p>
      </ion-col>
    </ion-row>
    <ion-item class="text-left margin-0">
      <ion-label class="text-left">
      <h2 class="font-17"> <strong>{{data.nombre}} {{data.apellido}}</strong></h2>
      <h3 style="font-size: 1.2rem !important;" *ngIf="data.tipo=='1'">Portero</h3>
      <h3 style="font-size: 1.2rem !important;" *ngIf="data.tipo=='2'">Delantero</h3>
      <h3 style="font-size: 1.2rem !important;" *ngIf="data.tipo=='3'">Defensa</h3>
      <h3 style="font-size: 1.2rem !important;" *ngIf="data.tipo=='4'">Medio Campista</h3>
      </ion-label>
    </ion-item>
    <!--<ion-row>
      <ion-col size="12">
        <ion-item class="text-center">
          <img class="" src="{{data.picture}}" alt="" style="width:50%;">
          <div class="text-center">
            <h1>{{data.telefono}}</h1>
          </div>
          <!--<ion-label class="text-center">
            --<h2 class="font-10"> <strong>20</strong></h2>
            <p>Torneos Ganados</p>
            <div class="divider-angular"></div>
            <h2 class="font-10"> <strong>40</strong></h2>
            <p>Goles Anotados</p>
            <div class="divider-angular"></div>
            <h2 class="font-10"> <strong>1.80 cm</strong></h2>
            <p>Altura</p>--
          </ion-label>
        </ion-item>
        <ion-item class="text-left margin-0">
          <ion-label class="text-left">
          <h2 class="font-17"> <strong>{{data.nombre}} {{data.apellido}}</strong></h2>
          <h3>{{data.tipo}}</h3>
          </ion-label>
        </ion-item>
      </ion-col>
      <!--<ion-col size="12">
            <div class="text-justify bg-ligth" style="border-radius:10px;">
              Your Success and happines life porque asi me gusta a mi que sea
            </div>
          </ion-col>
          <ion-col size="12" class="text-center">
              <ion-button (click)="goToRoute('home/chat/mensaje/1')" color="primary">Enviar Mensaje</ion-button>
      </ion-col>
    </ion-row>    -->
  </ion-grid>
</ion-content>
  
<!--<ion-footer *ngIf="!idArbitro">
  <ion-slides style="background: black" id="slides" pager [options]="slideOpts">
    <ion-slide style="background: rgb(0, 200, 0); color: white;">
      <h1>Publicidad 1</h1>
    </ion-slide>
    <ion-slide style="background: rgb(255, 20, 2); color: white;">
      <h1>Publicidad 2</h1>
    </ion-slide>
    <ion-slide style="background: rgb(0, 0, 255); color: white;">
      <h1>Publicidad 3</h1>
    </ion-slide>
  </ion-slides>
</ion-footer>-->
