<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
      <div style="text-align: center; text-transform: uppercase">
      <h1>
        {{titulo}}
      </h1>
      </div>
    <ion-buttons slot="end">
        <ion-button fill="clear" (click)="goToBack()">
        <ion-icon ios="ios-arrow-back" md="ios-arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="light">
    <ion-segment [(ngModel)]="selectItem" mode="md" color="dark">
      <ion-segment-button value="tabla" checked>
        Tabla
      </ion-segment-button>
      <ion-segment-button value="equipos" (click)="getAll(parameter)">
        Equipos
      </ion-segment-button>
      <ion-segment-button value="partidos">
        Partidos
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-toolbar color="light" *ngIf="selectItem == 'equipos'">
    <ion-searchbar animated [(ngModel)]="search" [ngModelOptions]="{standalone: true}"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="selectItem == 'tabla'">
    <ion-row style="border-radius: 30px;">
      <ion-col class="text-center color-header" size="4"><strong>Equipo</strong></ion-col>
      <ion-col class="text-center color-header" size="1"><strong>P</strong></ion-col>
      <ion-col class="text-center color-header" size="1"><strong>G</strong></ion-col>
      <ion-col class="text-center color-header" size="1"><strong>E</strong></ion-col>
      <ion-col class="text-center color-header" size="1"><strong>P</strong></ion-col>
      <ion-col class="text-center color-header" size="2"><strong>GOL</strong></ion-col>
      <ion-col class="text-center color-header" size="2"><strong>PTS</strong></ion-col>
    </ion-row>
    <ion-row style="border-radius: 30px;" *ngFor="let data of Table; let i = index" >
      <ion-col size="4"><strong><button class="circulo"><strong>{{i+1}}</strong></button>  {{data.nombre?data.nombre:''}}</strong></ion-col>
      <ion-col class="text-center" size="1"><strong>0</strong></ion-col>
      <ion-col class="text-center" size="1"><strong>0</strong></ion-col>
      <ion-col class="text-center" size="1"><strong>0</strong></ion-col>
      <ion-col class="text-center" size="1"><strong>0</strong></ion-col>
      <ion-col class="text-center" size="2"><strong>0</strong></ion-col>
      <ion-col class="text-center" size="2"><strong>0</strong></ion-col>
    </ion-row>


    <!--<div padding>
    <div style="border-radius: 30px; background-color: #002871; color: white; text-align: center;">
      <h4>Jugadores Destacados</h4>
    </div>
    <ion-row padding class="mb-2 pointer">
      <ion-col size="6" *ngFor="let data1 of jugadores">
        <div class="dark" style="border-radius:10px;">
          <ion-item class="text-center">
            <img class="" src="{{data1.picture}}" alt="" style="width:40%;">
              <ion-label class="text-left">
              <strong class="left font-9 color-white"> {{(data1.nombre)?data1.nombre:''}} {{(data1.apellido)?data1.apellido:''}}</strong>
              <p class="font-7 color-white">{{(data1.tipos.nombre)?data1.tipos.nombre:''}}</p>
            </ion-label>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    </div>-->
  </div>

  <div *ngIf="selectItem == 'equipos'">
    <ion-grid>
      <ion-row>
        <ion-col class="pointer" size="4" *ngFor="let data of Table | filter : search" (click)="goToRoute('home/equipo/'+data.id)">
          <img src="{{data.picture?data.picture:'http://i.imgur.com/bfDScsb.png'}}" alt="" style="width:100%;">
          <div class="w-100 text-center font-10">{{data.nombre?data.nombre:''}}</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="selectItem == 'partidos'">
    <div *ngFor="let data of Table2">
    <ion-grid *ngIf="data.grupo == parameter" (click)="presentModal(data.id)">
    <ion-row class="color-header">
      <ion-col class="text-center color-header" size="6"><strong>Local</strong></ion-col>
      <ion-col class="text-center color-header" size="6"><strong>Visita</strong></ion-col>
    </ion-row>
      <ion-row >
        <ion-col align-self-center text-center>
          <img class="img-size center" src="{{((data.equipos[1]!=null)?data.equipos[0].equipos.picture:'')}}">
          <p class="text center">{{((data.equipos[0]!=null)?data.equipos[0].equipos.nombre:'')}}</p>
        </ion-col>
        <ion-col text-center align-self-center>
          <h3 class="text">{{((data.equipos[0]!=null)?data.equipos[0].resultado:'')}} - {{((data.equipos[1]!=null)?data.equipos[1].resultado:'')}}</h3>
          <h5 class="text">{{((data.hora!=null)?data.hora:'')}}</h5>
          <p class="text">{{((data.fecha!=null)?data.fecha:'')}}</p>
        </ion-col>
        <ion-col align-self-center text-center>
          <img class="img-size center" src="{{((data.equipos[1]!=null)?data.equipos[1].equipos.picture:'')}}">
          <p class="text center">{{((data.equipos[1]!=null)?data.equipos[1].equipos.nombre:'')}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  </div>
  
</ion-content>

<!--<ion-footer *ngIf="!idArbitro">
  <ion-slides style="background: black" id="slides" pager [options]="slideOpts">
    <ion-slide style="background: rgb(0, 200, 0); color: white;">
      <h1>Publicidad 1</h1>
    </ion-slide>
    <ion-slide style="background: rgb(255, 20, 2); color: white;">
      <h1>Publicidad 2</h1>
    </ion-slide>
    <ion-slide style="background: rgb(0, 0, 255); color: white;">
      <h1>Publicidad 3</h1>
    </ion-slide>
  </ion-slides>
</ion-footer>-->