<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
      <div style="text-align: center; text-transform: uppercase">
      <h1>
        {{titulo}}
      </h1>
      </div>
    <ion-buttons slot="end">
        <ion-button fill="clear" (click)="logOut()">
        <ion-icon ios="ios-log-out" md="md-log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngFor="let data of Table" (click)="goToRoute('arbitro/detalle-partido/'+data.id)">
    <ion-row>
      <ion-col class="text-center color-header" size="6"><strong>Local</strong></ion-col>
      <ion-col class="text-center color-header" size="6"><strong>Visita</strong></ion-col>
    </ion-row>
      <ion-row >
        <ion-col align-self-center text-center>
          <img class="img-size center" src="{{((data.equipos[1]!=null)?data.equipos[0].equipos.picture:'')}}">
          <p class="text center">{{((data.equipos[0]!=null)?data.equipos[0].equipos.nombre:'')}}</p>
        </ion-col>
        <ion-col text-center align-self-center>
          <h3 class="text">{{((data.equipos[0]!=null)?data.equipos[0].resultado:'')}} - {{((data.equipos[1]!=null)?data.equipos[1].resultado:'')}}</h3>
          <h5 class="text">{{((data.hora!=null)?data.hora:'')}}</h5>
          <p class="text">{{((data.fecha!=null)?data.fecha:'')}}</p>
        </ion-col>
        <ion-col align-self-center text-center>
          <img class="img-size center" src="{{((data.equipos[1]!=null)?data.equipos[1].equipos.picture:'')}}">
          <p class="text center">{{((data.equipos[1]!=null)?data.equipos[1].equipos.nombre:'')}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
