<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
      <div style="text-align: center; text-transform: uppercase">
      <h1>
        {{titulo}}
      </h1>
      </div>
    <ion-buttons slot="end">
        <ion-button fill="clear" (click)="goToBack()">
        <ion-icon ios="ios-arrow-back" md="ios-arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="selectedData">
    <ion-row >
      <ion-col size="12">
        <ion-item class="text-center">
                <img class="" src="{{(selectedData.picture)?selectedData.picture:'http://i.imgur.com/bfDScsb.png'}}" alt="" style="width:50%;">
                <ion-label class="text-center" *ngIf="selectedData">
                       <strong class="text-center"> {{(selectedData.nombre)?selectedData.nombre:''}} </strong>
                       <ion-item-divider class="divider">
                        </ion-item-divider>
                  <h2 class="font-30"> <strong>0</strong></h2>
                  <p>Puntos en el torneo</p>
              </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col size="12" class="primary" style="border-radius: 30px;">
        <span class="ml-2"><strong>Historia</strong></span>
      </ion-col>
      <p>{{(selectedData.descripcion)?selectedData.descripcion:''}}</p>
    </ion-row>
    <!--<ion-row>
      <ion-col size="12" class="text-center">
        <ion-button (click)="goToRoute('home/equipo/'+selectedData.id+'/mensaje')" color="primary">Enviar Mensaje</ion-button>
      </ion-col>
    </ion-row>-->
    <!--<ion-row class="mb-2 mt-2">
        <ion-col size="12" class="primary" style="border-radius: 30px;">
          <span class="ml-2" > <strong>Goles</strong></span>
        </ion-col>
        <ion-col size="4">
          <ion-label class="text-center">
              <strong class="text-center font-20"> 5</strong>
              <p>Favor</p>
          </ion-label>
        </ion-col>
        <ion-col size="4">
          <ion-label class="text-center">
              <strong class="text-center font-20"> 5</strong>
              <p>En contra</p>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="mb-2 mt-2">
          <ion-col size="12" class="primary" style="border-radius: 30px;">
            <span class="ml-2" ><strong> Partidos</strong> </span>
          </ion-col>
          <ion-col size="4">
            <ion-label class="text-center">
                <strong class="text-center font-20"> 5</strong>
                <p>Ganados</p>
            </ion-label>
          </ion-col>
          <ion-col size="4">
            <ion-label class="text-center">
                <strong class="text-center font-20"> 5</strong>
                <p>Empatados</p>
            </ion-label>
          </ion-col>
          <ion-col size="4">
            <ion-label class="text-center">
                <strong class="text-center font-20"> 5</strong>
                <p>Perdidos</p>
            </ion-label>
          </ion-col>
        </ion-row>-->
  </ion-grid>

  <!--<ion-row padding>
    <ion-col size="6">
      <ion-button color="primary" fill="outline" expand="block" (click)="tabSelected=0">
        <ion-icon ios="ios-images" md="md-images" slot="start"></ion-icon> Fotos
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button color="primary" fill="outline" expand="block" (click)="tabSelected=1">
        <ion-icon ios="ios-person" md="md-person"></ion-icon> Jugadores
      </ion-button>
    </ion-col>
  </ion-row>-->

  <ion-row padding class="mb-2 pointer" *ngIf="tabSelected==1 && selectedData">
    <!--(click)="goToRoute('home/jugador/'+data1.jugadores.id)"-->
    <ion-col size="6" *ngFor="let data1 of selectedData.jugadores">
      <div class="dark" style="border-radius:10px;" (click)="goToRoute('home/jugador/'+data1.jugadores.id)">
        <ion-item class="text-center">
          <img class="" src="{{data1.jugadores.picture}}" alt="" style="width:40%;">
            <ion-label class="text-left">
            <strong class="left font-9 color-white"> {{(data1.jugadores.nombre)?data1.jugadores.nombre:''}} {{(data1.jugadores.apellido)?data1.jugadores.apellido:''}}</strong>
            <p class="font-7 color-white">{{(data1.jugadores.tipos.nombre)?data1.jugadores.tipos.nombre:''}}</p>
          </ion-label>
        </ion-item>
        <!--<div class="font-7 pl-2 pr-2 pt-2 pb-2 text-justify">
          {{(data1.jugadores.nombre)?data1.jugadores.nombre:''}}
        </div>-->
      </div>
    </ion-col>
  </ion-row>
  <ion-row padding class="mb-2" *ngIf="tabSelected==0">
    <ion-col size="4" class="light" style="border-radius:10px;">
      <img class="" src="http://i.imgur.com/bfDScsb.png" alt="" style="width:100%;">
    </ion-col>
    <ion-col size="4" class="light" style="border-radius:10px;">
      <img class="" src="http://i.imgur.com/bfDScsb.png" alt="" style="width:100%;">
    </ion-col>
    <ion-col size="4" class="light" style="border-radius:10px;">
      <img class="" src="http://i.imgur.com/bfDScsb.png" alt="" style="width:100%;">
    </ion-col>
    <ion-col size="4" class="light" style="border-radius:10px;">
      <img class="" src="http://i.imgur.com/bfDScsb.png" alt="" style="width:100%;">
    </ion-col>
  </ion-row>
</ion-content>

<!--<ion-footer *ngIf="!idArbitro">
  <ion-slides style="background: black" id="slides" pager [options]="slideOpts">
    <ion-slide style="background: rgb(0, 200, 0); color: white;">
      <h1>Publicidad 1</h1>
    </ion-slide>
    <ion-slide style="background: rgb(255, 20, 2); color: white;">
      <h1>Publicidad 2</h1>
    </ion-slide>
    <ion-slide style="background: rgb(0, 0, 255); color: white;">
      <h1>Publicidad 3</h1>
    </ion-slide>
  </ion-slides>
</ion-footer>-->
