<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
      <div style="text-align: center; text-transform: uppercase">
      <h1>
        {{titulo}}
      </h1>
      </div>
    <ion-buttons slot="end">
        <ion-button fill="clear" (click)="goToBack()">
        <ion-icon ios="ios-arrow-back" md="ios-arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" type="overlay" color="primary" class="e2eLeftMenu">
  <ion-header>
    <ion-toolbar color="primary" class="text-center">
      <img src="./../../assets/png/pelota-fut.png" style="width:10rem;height:10rem;" alt="">
    </ion-toolbar>
  </ion-header>

  <ion-content color="primary">
      <app-menu></app-menu>
  </ion-content>

  <ion-footer>
    <ion-toolbar color="primary">
      <ion-button expand="small"  color="light" fill="clear">Log Out</ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-menu>
<ion-router-outlet main></ion-router-outlet>

<ion-content>
  <ion-card *ngFor="let x of Table" (click)="goToRoute('home/torneos/'+x.id)">
    <ion-card-header color="primary">
      <!--<ion-card-title>{{x.nombre}}</ion-card-title>-->
      <ion-card-subtitle>{{x.nombre}}</ion-card-subtitle>
    </ion-card-header>
    <img src="https://wallpaperstock.net/wallpapers/thumbs1/39302hd.jpg">
  </ion-card>
</ion-content>

<!--<ion-footer *ngIf="!idArbitro">
  <ion-slides style="background: black" id="slides" pager [options]="slideOpts">
    <ion-slide style="background: rgb(0, 200, 0); color: white;">
      <h1>Publicidad 1</h1>
    </ion-slide>
    <ion-slide style="background: rgb(255, 20, 2); color: white;">
      <h1>Publicidad 2</h1>
    </ion-slide>
    <ion-slide style="background: rgb(0, 0, 255); color: white;">
      <h1>Publicidad 3</h1>
    </ion-slide>
  </ion-slides>
</ion-footer>-->
