<ion-app>
  <ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
        <div style="text-align: center; text-transform: uppercase">
        <h1>
          {{titulo}}
        </h1>
        </div>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="goToBack()">
          <ion-icon ios="ios-arrow-back" md="ios-arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div [ngStyle]="{'background-image':'url(' + pictureLogin + ')'}" id="full-screen-background-image">
      <form (ngSubmit)="logIn()" padding>
        <div style="padding-bottom: 6%;">
            <img *ngIf="pictureApp" src="{{pictureApp}}" class="picture-profile">
        </div>
        <div class="item item-trns">
            <ion-item >
                <ion-label style="color: white;" position="floating"><ion-icon ios="ios-person" md="md-person"></ion-icon>  Usuario</ion-label>
                <ion-input style="color: white;" type="text" [(ngModel)]="user.username" name="username"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label style="color: white;"  position="floating"><ion-icon ios="ios-lock" md="md-lock"></ion-icon>  Contraseña</ion-label>
                <ion-input style="color: white;" type="password" [(ngModel)]="user.password" name="password"></ion-input>
            </ion-item>
            <div padding>
              <ion-button type="submit" shape="round" expand="block" color="success" class="mayusculas">Iniciar Sesión</ion-button>
            </div>
        </div>
        <!--<ion-button class="btn-white" shape="round" expand="block" fill="clear" color="light" type="button"
        (click)="resetPassword()" class="mayusculas">¿Olvidaste tu contraseña?</ion-button>
        <ion-button class="btn-white" shape="round" expand="block" fill="clear" color="light" type="button"
        (click)="goToRoute('./../register')" class="mayusculas">Crear una nueva cuenta</ion-button>-->
      </form>
      <div class="footer">
        <p>© Foxylabs 2018</p>
      </div>
    </div>
  </ion-content>
</ion-app>
  
  