<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="openStart()">
        <ion-icon ios="ios-menu" md="md-menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="goToBack()">
        <ion-icon ios="ios-arrow-back" md="ios-arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="main-header">
            {{titulo}}
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" type="overlay" color="primary" class="e2eLeftMenu">
  <ion-header>
    <ion-toolbar color="primary" class="text-center">
      <img src="./../../assets/png/pelota-fut.png" style="width:10rem;height:10rem;" alt="">
    </ion-toolbar>
  </ion-header>

  <ion-content color="primary">
      <app-menu></app-menu>
  </ion-content>

  <ion-footer>
    <ion-toolbar color="primary">
      <ion-button expand="small"  color="light" fill="clear">Log Out</ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-menu>
<ion-router-outlet main></ion-router-outlet>

<ion-content padding>
  <ion-grid>
    <ion-row class="mb-2 pointer">
      <ion-col size="12">
        <div><h1>Defensas</h1></div>
      </ion-col>
      <ion-col size="6" *ngFor="let data of Table" (click)="goToRoute('home/jugador/'+data.id)">
          <div class="dark" style="border-radius:10px;" >
              <ion-item class="text-center">
                  <img class="" src="http://i.imgur.com/bfDScsb.png" alt="" style="width:40%;">
                  <ion-label class="text-left">
                    <strong class="left font-9 color-white"> {{(data.nombre)?data.nombre:''}}</strong>
                    <p class="font-7 color-white">Portero</p>
                </ion-label>
              </ion-item>
              <div class="font-7 pl-2 pr-2 pt-2 pb-2 text-justify">
                Pequeña distraccion para saber que leer de jugador, realmente no tenemos nada para ponerle pero es bueno tenerlo para que "se vea bonito"
              </div>
          </div>
      </ion-col>
    </ion-row>
    <ion-row class="mb-2 pointer">
      <ion-col size="12">
        <div><h1>Delanteros</h1></div>
      </ion-col>
      <ion-col size="6" *ngFor="let data of Table" (click)="goToRoute('home/jugador/'+data.id)">
          <div class="dark" style="border-radius:10px;" >
              <ion-item class="text-center">
                  <img class="" src="http://i.imgur.com/bfDScsb.png" alt="" style="width:40%;">
                  <ion-label class="text-left">
                    <strong class="left font-9 color-white"> {{(data.nombre)?data.nombre:''}}</strong>
                    <p class="font-7 color-white">Portero</p>
                </ion-label>
              </ion-item>
              <div class="font-7 pl-2 pr-2 pt-2 pb-2 text-justify">
                Pequeña distraccion para saber que leer de jugador, realmente no tenemos nada para ponerle pero es bueno tenerlo para que "se vea bonito"
              </div>
          </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


