<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div style="text-align: center; text-transform: uppercase">
      <h1>{{titulo}}</h1>
    </div>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" type="overlay" color="primary" class="e2eLeftMenu">
  <ion-header>
    <ion-toolbar color="primary" class="text-center">
      <img src="./../../assets/png/pelota-fut.png" style="width:10rem;height:10rem;" alt="">
    </ion-toolbar>
  </ion-header>

  <ion-content color="primary">
      <app-menu></app-menu>
  </ion-content>

  <ion-footer>
    <ion-toolbar color="primary">
      <ion-button expand="small"  color="light" fill="clear">Log Out</ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-menu>
<ion-router-outlet main></ion-router-outlet>

<ion-content>
  <ion-card>
    <iframe width="100%" height="250px;" src="https://www.youtube.com/embed/IZVhMPSfqAQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <ion-card-content>
      <ion-row>
        <ion-col size="3" class="text-center">
          <img src="http://i.imgur.com/bfDScsb.png" alt="" style="width:100%;">
        </ion-col>
        <ion-col size="2" class="text-center">
          <h1>2</h1>
        </ion-col>
        <ion-col size="2" class="text-center">
          <h2>vs</h2>
        </ion-col>
        <ion-col size="2" class="text-center">
          <h1>2</h1>
        </ion-col>
        <ion-col size="3" class="text-center">
          <img src="http://i.imgur.com/bfDScsb.png" alt="" style="width:100%;">
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <iframe width="100%" height="250px;" src="https://www.youtube.com/embed/IZVhMPSfqAQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <ion-card-content>
      <ion-row>
        <ion-col size="3" class="text-center">
          <img src="http://i.imgur.com/bfDScsb.png" alt="" style="width:100%;">
        </ion-col>
        <ion-col size="2" class="text-center">
          <h1>2</h1>
        </ion-col>
        <ion-col size="2" class="text-center">
          <h2>vs</h2>
        </ion-col>
        <ion-col size="2" class="text-center">
          <h1>2</h1>
        </ion-col>
        <ion-col size="3" class="text-center">
          <img src="http://i.imgur.com/bfDScsb.png" alt="" style="width:100%;">
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <iframe width="100%" height="250px;" src="https://www.youtube.com/embed/IZVhMPSfqAQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <ion-card-content>
      <ion-row>
        <ion-col size="3" class="text-center">
          <img src="http://i.imgur.com/bfDScsb.png" alt="" style="width:100%;">
        </ion-col>
        <ion-col size="2" class="text-center">
          <h1>2</h1>
        </ion-col>
        <ion-col size="2" class="text-center">
          <h2>vs</h2>
        </ion-col>
        <ion-col size="2" class="text-center">
          <h1>2</h1>
        </ion-col>
        <ion-col size="3" class="text-center">
          <img src="http://i.imgur.com/bfDScsb.png" alt="" style="width:100%;">
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

<!--
<div class="container h-100">
  <ion-grid class="h-100">
    <ion-row class="h-100">
      <ion-col size="12" class="h-100">
        <iframe style="width:100%;height:100%;" src="https://www.youtube.com/embed/NrAp3Ma3OyY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3" class="text-center">
        <img src="http://i.imgur.com/bfDScsb.png" alt="" style="width:100%;">
      </ion-col>
      <ion-col size="2" class="text-center">
        <h1>2</h1>
      </ion-col>
      <ion-col size="2" class="text-center">
        <h2>vs</h2>
      </ion-col>
      <ion-col size="2" class="text-center">
        <h1>2</h1>
      </ion-col>
      <ion-col size="3" class="text-center">
        <img src="http://i.imgur.com/bfDScsb.png" alt="" style="width:100%;">
      </ion-col>
    </ion-row>
  </ion-grid>
</div>-->
</ion-content>

<ion-footer *ngIf="!idArbitro">
  <ion-slides style="background: black" id="slides" pager [options]="slideOpts">
    <ion-slide style="background: rgb(0, 200, 0); color: white;">
      <h1>Publicidad 1</h1>
    </ion-slide>
    <ion-slide style="background: rgb(255, 20, 2); color: white;">
      <h1>Publicidad 2</h1>
    </ion-slide>
    <ion-slide style="background: rgb(0, 0, 255); color: white;">
      <h1>Publicidad 3</h1>
    </ion-slide>
  </ion-slides>
</ion-footer>
