<ion-header>
  <ion-toolbar color="dark">
    <div style="text-transform: uppercase">
      <h1>
        {{titulo}}
      </h1>
    </div>
    <ion-buttons slot="end">
        <ion-button fill="clear" (click)="closeModal()">
        <ion-icon name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="data">
  <ion-row class="color-header">
    <ion-col class="text-center color-header" size="6"><strong>Local</strong></ion-col>
    <ion-col class="text-center color-header" size="6"><strong>Visita</strong></ion-col>
  </ion-row>
  <ion-row >
    <ion-col align-self-center text-center>
      <img class="img-size center" src="{{((data.equipos[1]!=null)?data.equipos[0].equipos.picture:'')}}">
      <p style="font-size: 1.2rem !important;" class="text center">
        <strong>{{((data.equipos[0]!=null)?data.equipos[0].equipos.nombre:'')}}</strong>
      </p>
    </ion-col>
    <ion-col text-center align-self-center>
      <h3 class="text" style="font-size: 2rem !important;">{{((data.equipos[0]!=null)?data.equipos[0].resultado:'')}} - {{((data.equipos[1]!=null)?data.equipos[1].resultado:'')}}</h3>
    </ion-col>
    <ion-col align-self-center text-center>
      <img class="img-size center" src="{{((data.equipos[1]!=null)?data.equipos[1].equipos.picture:'')}}">
      <p style="font-size: 1.2rem !important;" class="text center">
        <strong>{{((data.equipos[1]!=null)?data.equipos[1].equipos.nombre:'')}}</strong>
      </p>
    </ion-col>
  </ion-row>
  <div padding>
  <p>
    <strong><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Descripción:</strong>
    {{data.descripcion}}
  </p>
  <p>
    <strong><ion-icon name="time"></ion-icon>  Hora:</strong>
    {{data.hora}}
  </p>
  <p *ngIf="fecha">
    <strong><ion-icon name="calendar"></ion-icon>  Fecha:</strong>
    {{fecha}}
  </p>
  <p>
    <strong><ion-icon name="football"></ion-icon>  Torneo:</strong>
    {{data.torneos.nombre}}
  </p>
  <p>
    <strong><ion-icon name="football"></ion-icon>  Tipo:</strong>
    {{data.tipos.nombre}}
  </p>
  </div>
</ion-content>