<ion-app>
  <ion-split-pane>
    <ion-menu  side="start" type="overlay" color="primary" class="e2eLeftMenu">
      <!--HEADER MENU-->
      <ion-header>
        <ion-toolbar color="primary" class="text-center">
          <img src="./../assets/png/pelota-fut.png" style="width:10rem;height:10rem;" alt="">
        </ion-toolbar>
      </ion-header>

      <!--CONTENT MENU-->
      <ion-content color="primary">
        <ion-list lines="none" style="background-color: #002871;">
          <ion-menu-toggle auto-hide="false" >
            <ion-button ion-item expand="full" color="light" fill="clear" (click)="goToRoute('home')">
              <ion-icon ios="ios-home" md="md-home" slot="start"></ion-icon>Home
            </ion-button>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" >
            <ion-button ion-item expand="full" color="light" fill="clear" (click)="goToRoute('home/partidos')">
              <ion-icon ios="ios-football" md="md-football" slot="start"></ion-icon>Partidos
            </ion-button>
          </ion-menu-toggle>
          <!--<ion-menu-toggle auto-hide="false" >
            <ion-button ion-item expand="full" color="light" fill="clear" (click)="goToRoute('home/envivo')">
              <ion-icon ios="ios-videocam" md="md-videocam" slot="start"></ion-icon>En Vivo
            </ion-button>
          </ion-menu-toggle>-->
        </ion-list>
      </ion-content>

      <!--FOOTER MENU-->      
      <ion-footer>
        <ion-toolbar color="primary" *ngIf="auth">
          <ion-button color="light" fill="clear" (click)="logOut()">
            <ion-icon ios="ios-log-out" md="md-log-out" slot="start"></ion-icon>
            Cerrar Sesión
          </ion-button>
        </ion-toolbar>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
