<ion-header>
  <ion-toolbar color="dark">
    <ion-grid>
      <ion-row>
        <div class="ion-page" main>
          <div class="main-header">
            <ion-buttons slot="start" style="text-align:center;">
              <ion-menu-button></ion-menu-button>
              <span style="width:100%;">
                  {{titulo}}
              </span>
            </ion-buttons>
            <span class="messages">
              <a  (click)="goToBack()" ><ion-icon name="arrow-dropleft"></ion-icon></a>
              <ion-icon name="chatbubbles" (click)="goToRoute('home/chat')"></ion-icon>
              <ion-badge color="success" (click)="goToRoute('home/chat')" class="notification">1</ion-badge>
            </span>
          </div>
        </div>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" type="overlay" color="primary" class="e2eLeftMenu">
  <ion-header>
    <ion-toolbar color="primary" class="text-center">
      <img src="./../../assets/png/pelota-fut.png" style="width:10rem;height:10rem;" alt="">
    </ion-toolbar>
  </ion-header>

  <ion-content color="primary">
      <app-menu></app-menu>
  </ion-content>

  <ion-footer>
    <ion-toolbar color="primary">
      <ion-button expand="small"  color="light" fill="clear">Log Out</ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-menu>
<ion-content padding>
      <ion-grid>
          <ion-row>
            <ion-col size="12">
                <ion-toolbar>
                  <ion-searchbar  [(ngModel)]="search" [ngModelOptions]="{standalone: true}"></ion-searchbar>
                </ion-toolbar>
            </ion-col>
            <ion-col class="pointer text-center" size="4" *ngFor="let data of Table | filter : search" >
              <img src="http://i.imgur.com/bfDScsb.png" alt="" style="width:100%;" (click)="goToRoute('home/equipo/'+data.id)">
              <div class="w-100 text-center font-10" (click)="goToRoute('home/equipo/'+data.id)">{{data.nombre?data.nombre:''}}</div>
              <button (click)="goToRoute('home/equipo/'+data.id+'/mensaje')" class="primary w-50 pt-2 pb-2 pl-2 pr-2" style="border-radius:30px;" >Enviar Mensaje</button>
            </ion-col>
          </ion-row>
      </ion-grid>
</ion-content>


