<ion-header>
  <ion-toolbar color="dark">
    <div style="text-transform: uppercase">
      <h1>
        {{titulo}}
      </h1>
    </div>
    <ion-buttons slot="end">
        <ion-button fill="clear" (click)="closeModal()">
        <ion-icon name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height: 400px; width: 100%;" id="map"></div>
  <!-- INFORMACION -->
  <div *ngIf="data" padding>
  <h3 class="text center" *ngIf="data.description">{{data.description}}</h3>
  <p class="text center" *ngIf="data.address != 'null'">
    <strong>
      <ion-icon name="pin"></ion-icon>  Dirección:
    </strong> {{data.address}}
  </p>
  <p class="text center" *ngIf="data.place ">
    <strong>
      <ion-icon name="pin"></ion-icon>  Lugar:
    </strong> {{data.place}}
  </p>
  <p class="text center" *ngIf="fecha ">
    <strong>
      <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>  Fecha:
    </strong> {{fecha}}
  </p>
  <p class="text center" *ngIf="data.description ">
    <strong>
      <ion-icon ios="ios-time" md="md-time"></ion-icon>  Hora:
    </strong> {{data.time}}
  </p>
  </div>
</ion-content>