<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
      <div style="text-align: center; text-transform: uppercase">
      <h1>
        {{titulo}}
      </h1>
      </div>
    <ion-buttons slot="end">
        <ion-button fill="clear" (click)="goToBack()">
        <ion-icon ios="ios-arrow-back" md="ios-arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let x of Table" (click)="goToRoute('home/tabla/'+x.id)">
    <ion-card-header color="primary">
      <ion-card-title>{{x.nombre}}</ion-card-title>
      <ion-card-subtitle>{{x.descripcion}}</ion-card-subtitle>
    </ion-card-header>
    <img src="https://wallpaperstock.net/wallpapers/thumbs1/39302hd.jpg">
  </ion-card>
</ion-content>
<!--<ion-footer *ngIf="!idArbitro">
  <ion-slides style="background: black" id="slides" pager [options]="slideOpts">
    <ion-slide style="background: rgb(0, 200, 0); color: white;">
      <h1>Publicidad 1</h1>
    </ion-slide>
    <ion-slide style="background: rgb(255, 20, 2); color: white;">
      <h1>Publicidad 2</h1>
    </ion-slide>
    <ion-slide style="background: rgb(0, 0, 255); color: white;">
      <h1>Publicidad 3</h1>
    </ion-slide>
  </ion-slides>
</ion-footer>-->
