<ion-app>
<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div style="text-align: center; text-transform: uppercase">
      <h1>{{titulo}}</h1>
    </div>
  </ion-toolbar>
</ion-header>

<ion-split-pane>
<ion-menu side="start" type="overlay" color="primary" class="e2eLeftMenu">
  <ion-header>
    <ion-toolbar color="primary" class="text-center">
      <img src="./../../assets/png/pelota-fut.png" style="width:10rem;height:10rem;" alt="">
    </ion-toolbar>
  </ion-header>

  <ion-content color="primary">
      <app-menu></app-menu>
  </ion-content>

  <ion-footer>
    <ion-toolbar color="primary">
      <ion-button expand="small"  color="light" fill="clear">Log Out</ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-menu>
<ion-router-outlet main></ion-router-outlet>
</ion-split-pane>

<ion-content>
<!--  <div>
    <ion-row style="border-radius: 30px;">
      <ion-col class="text-center color-header" size="4"><strong>Equipo</strong></ion-col>
      <ion-col class="text-center color-header" size="1"><strong>P</strong></ion-col>
      <ion-col class="text-center color-header" size="1"><strong>G</strong></ion-col>
      <ion-col class="text-center color-header" size="1"><strong>E</strong></ion-col>
      <ion-col class="text-center color-header" size="1"><strong>P</strong></ion-col>
      <ion-col class="text-center color-header" size="2"><strong>GOL</strong></ion-col>
      <ion-col class="text-center color-header" size="2"><strong>PTS</strong></ion-col>
    </ion-row>
    <ion-row style="border-radius: 30px;">
      <ion-col size="4"><strong><button class="circulo"><strong>1</strong></button>  Dep. Guastatoya</strong></ion-col>
      <ion-col class="text-center" size="1"><strong>15</strong></ion-col>
      <ion-col class="text-center" size="1"><strong>8</strong></ion-col>
      <ion-col class="text-center" size="1"><strong>4</strong></ion-col>
      <ion-col class="text-center" size="1"><strong>3</strong></ion-col>
      <ion-col class="text-center" size="2"><strong>25.15</strong></ion-col>
      <ion-col class="text-center" size="2"><strong>28</strong></ion-col>
    </ion-row>
    <ion-row style="border-radius: 30px;">
      <ion-col size="4"><strong><button class="circulo"><strong>1</strong></button>  Cobán Imperial</strong></ion-col>
      <ion-col class="text-center" size="1"><strong>15</strong></ion-col>
      <ion-col class="text-center" size="1"><strong>8</strong></ion-col>
      <ion-col class="text-center" size="1"><strong>4</strong></ion-col>
      <ion-col class="text-center" size="1"><strong>3</strong></ion-col>
      <ion-col class="text-center" size="2"><strong>25.15</strong></ion-col>
      <ion-col class="text-center" size="2"><strong>28</strong></ion-col>
    </ion-row>
    <ion-row style="border-radius: 30px;">
      <ion-col size="4"><strong><button class="circulo"><strong>2</strong></button>  Cobán Imperial</strong></ion-col>
      <ion-col size="1"><strong>15</strong></ion-col>
      <ion-col size="1"><strong>8</strong></ion-col>
      <ion-col size="1"><strong>4</strong></ion-col>
      <ion-col size="1"><strong>3</strong></ion-col>
      <ion-col size="2"><strong>25.15</strong></ion-col>
      <ion-col size="2"><strong>28</strong></ion-col>
    </ion-row>
    <ion-row style="border-radius: 30px;">
      <ion-col size="4"><strong><button class="circulo"><strong>3</strong></button>  Dep. Guastatoya</strong></ion-col>
      <ion-col size="1"><strong>15</strong></ion-col>
      <ion-col size="1"><strong>8</strong></ion-col>
      <ion-col size="1"><strong>4</strong></ion-col>
      <ion-col size="1"><strong>3</strong></ion-col>
      <ion-col size="2"><strong>25.15</strong></ion-col>
      <ion-col size="2"><strong>28</strong></ion-col>
    </ion-row>
  </div>-->
  <!--<ion-row>
      <ion-col class="text-center color-header" size="6"><strong>Local</strong></ion-col>
      <ion-col class="text-center color-header" size="6"><strong>Visita</strong></ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3" class="text-center">
        <img src="http://i.imgur.com/bfDScsb.png" alt="" class="logo">
      </ion-col>
      <ion-col size="2" class="text-center">
        <h1>2</h1>
      </ion-col>
      <ion-col size="2" class="text-center">
        <h2>vs</h2>
      </ion-col>
      <ion-col size="2" class="text-center">
        <h1>2</h1>
      </ion-col>
      <ion-col size="3" class="text-center">
        <img src="http://i.imgur.com/bfDScsb.png" alt="" class="logo">
    </ion-col>
  </ion-row>-->

  <ion-grid *ngFor="let data of Table">
    <ion-row>
      <ion-col class="text-center color-header" size="6"><strong>Local</strong></ion-col>
      <ion-col class="text-center color-header" size="6"><strong>Visita</strong></ion-col>
    </ion-row>
      <ion-row (click)="presentModal(data.id)">
        <ion-col align-self-center text-center>
          <img class="img-size center" src="{{((data.equipos[1]!=null)?data.equipos[0].equipos.picture:'')}}">
          <p class="text center">{{((data.equipos[0]!=null)?data.equipos[0].equipos.nombre:'')}}</p>
        </ion-col>
        <ion-col text-center align-self-center>
          <h3 class="text">{{((data.equipos[0]!=null)?data.equipos[0].resultado:'')}} - {{((data.equipos[1]!=null)?data.equipos[1].resultado:'')}}</h3>
          <h5 class="text">{{((data.hora!=null)?data.hora:'')}}</h5>
          <p class="text">{{((data.fecha!=null)?data.fecha:'')}}</p>
        </ion-col>
        <ion-col align-self-center text-center>
          <img class="img-size center" src="{{((data.equipos[1]!=null)?data.equipos[1].equipos.picture:'')}}">
          <p class="text center">{{((data.equipos[1]!=null)?data.equipos[1].equipos.nombre:'')}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
<!--<ion-footer *ngIf="!idArbitro">
  <ion-slides style="background: black" id="slides" pager [options]="slideOpts">
    <ion-slide style="background: rgb(0, 200, 0); color: white;">
      <h1>Publicidad 1</h1>
    </ion-slide>
    <ion-slide style="background: rgb(255, 20, 2); color: white;">
      <h1>Publicidad 2</h1>
    </ion-slide>
    <ion-slide style="background: rgb(0, 0, 255); color: white;">
      <h1>Publicidad 3</h1>
    </ion-slide>
  </ion-slides>
</ion-footer>-->

</ion-app>