<ion-list lines="none">
    <ion-item color="primary" class="text-center">
        <ion-button class="w-100" expand="full"  color="light" fill="clear"  (click)="goToRoute('home')">
            <ion-icon ios="ios-home" md="md-home" slot="start"></ion-icon>Home
        </ion-button>
    </ion-item>
    <ion-item color="primary" class="text-center">
        <ion-button class="w-100" expand="full"  color="light" fill="clear"  (click)="goToRoute('home/partidos')">
            <ion-icon ios="ios-football" md="md-football" slot="start"></ion-icon>Partidos
        </ion-button>
    </ion-item>
    <ion-item color="primary" class="text-center">
        <ion-button class="w-100" expand="full"  color="light" fill="clear"  (click)="goToRoute('home/envivo')">
            <ion-icon ios="ios-videocam" md="md-videocam" slot="start"></ion-icon>En Vivo
        </ion-button>
    </ion-item>
</ion-list>

<!--slot="start"-->