<ion-app>
  <ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <div style="text-align: center; text-transform: uppercase">
        <h1>
          {{titulo}}
        </h1>
      </div>
    </ion-toolbar>
    <ion-toolbar color="light">
      <ion-segment mode="md" color="dark">
        <ion-segment-button (click)="goToRoute('home/ligas')" checked>
          Ligas
        </ion-segment-button>
        <ion-segment-button (click)="goToRoute('login')" checked>
          Arbitro
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>
  <!--
    <ion-header>
      <ion-toolbar color="dark">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <div class="main-header">
                {{titulo}}
                <span class="messages">
                  <ion-icon name="chatbubbles" (click)="goToRoute('home/chat')"></ion-icon>
                  <ion-badge color="success" (click)="goToRoute('home/chat')" class="notification">1</ion-badge>
                </span>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-toolbar>
      <ion-toolbar color="light">
        <ion-segment mode="md" color="dark">
          <ion-segment-button (click)="goToRoute('home/ligas')" checked>
            Visitas
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
      <!--<ion-toolbar>
        <ion-grid>
          <ion-row>
            <ion-col size="3" class="text-center">
              <ion-button (click)="goToRoute('home/ligas')" expand="small"  color="primary" fill="clear">Ligas</ion-button>
            </ion-col>
            <!--<ion-col size="3" class="text-center">
              <ion-button (click)="goToRoute('home/torneos')" expand="small"  color="primary" fill="clear">Torneos</ion-button>
            </ion-col>
            <ion-col size="3" class="text-center">
              <ion-button (click)="goToRoute('home/alquileres')"  expand="small" color="primary" fill="clear">Alquileres</ion-button>
            </ion-col>
            <ion-col size="3" class="text-center">
              <ion-button (click)="goToRoute('home/amistosos')" expand="small"  color="primary" fill="clear">Amistosos</ion-button>
            </ion-col>
            <ion-col size="3" class="text-center">
              <ion-button (click)="goToRoute('home/fichajes')" expand="small"  color="primary" fill="clear">Fichajes</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-toolbar>
    </ion-header>-->
  
  <ion-content>
    <ion-card *ngFor="let data of Table" (click)="presentModal(data.id)">
        <ion-card-content>
          <p class="color-blue font-7">{{(data.description!=null)?data.description:''}}</p>
          <ion-card-title>{{(data.place!=null)?data.place:''}}</ion-card-title>
        </ion-card-content>
      <img class="img-noticias" src="{{(data.picture!=null)?data.picture:'http://placehold.it/3840x2160?text='+data.descripcion}}" />
    </ion-card> <br> <br>
  </ion-content>
</ion-app>
