<ion-header>
  <ion-toolbar color="dark">
      <div style="text-align: center; text-transform: uppercase">
      <h1 *ngIf="Table">
        {{Table.nombre}} {{Table.apellido}}
      </h1>
      </div>
    <ion-buttons slot="end">
        <ion-button fill="clear" (click)="closeModal()">
        <ion-icon ios="ios-close-circle" md="md-close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="Table">
    <ion-grid style="opacity:1;">
    <ion-row>
      <ion-col size="12">
        <ion-item class="text-center">
          <img class="" src="{{Table.picture}}" alt="" style="width:50%;">
          <ion-label class="text-center">
            <h2 class="font-10"> <strong>20</strong></h2>
            <p>No. Tarjetas</p>
            <div class="divider-angular"></div>
            <h2 class="font-10"> <strong>40</strong></h2>
            <p>Goles Anotados</p>
            <div class="divider-angular"></div>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>    
  </ion-grid>
  </div>
  <form (ngSubmit)="saveChanges()">
    <!--NOMBRE DEL CLIENTE-->
    <ion-row>
      <ion-col size="7" align-items-center>
        <ion-item>
          <ion-label position="floating"><ion-icon ios="ios-football" md="md-football"></ion-icon> Goles</ion-label>
            <ion-input type="number" [(ngModel)]="data.cantidad" name="cantidad">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="5" align-self-center style="align-items: center; text-align: center;">
        <ion-button type="button" color="success"  (click)="add()">
          <ion-icon ios="ios-add" md="md-add" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button type="button" color="success"  (click)="remove()">
          <ion-icon ios="ios-remove" md="md-remove" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-button expand="block" type="submit" color="success" [disabled]="btnDisabled">
      <ion-icon ios="ios-archive" md="md-archive" slot="start"></ion-icon>
      Guardar Cambios
    </ion-button>
  </form>

  <form (ngSubmit)="saveChanges2()">
    <!--NOMBRE DEL CLIENTE-->
    <ion-row>
      <ion-col size="7" align-items-center>
        <ion-item>
          <ion-label position="floating"><ion-icon ios="ios-bookmark" md="md-bookmark"></ion-icon> Tarjetas</ion-label>
            <ion-input type="number" [(ngModel)]="data2.cantidad" name="cantidad">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="5" align-self-center style="align-items: center; text-align: center;">
        <ion-button type="button" color="success"  (click)="add2()">
          <ion-icon ios="ios-add" md="md-add" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button type="button" color="success"  (click)="remove2()">
          <ion-icon ios="ios-remove" md="md-remove" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-button expand="block" type="submit" color="success" [disabled]="btnDisabled2">
      <ion-icon ios="ios-archive" md="md-archive" slot="start"></ion-icon>
      Guardar Cambios
    </ion-button>
  </form>
</ion-content>
